<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Homepage of Patrick Byrne">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {{ title }} | Angela Byrne</title>
    <link rel="stylesheet" href="/assets/bundle.css">
    <script type="module" src="/assets/bundle.js"></script>
    <meta name="generator" content="{{ eleventy.generator }}">
  </head>

  <body>
    <header>
      <nav>
        <a aria-current="{{ "page" if page.url == "/" }}" href="/">Home</a>
        <a aria-current="{{ "page" if page.url.startsWith("/products/") }}" href="/products/">Products</a>
        <a aria-current="{{ "page" if page.url == "/contact/" }}" href="/contact"/>Contact</a>
      </nav>
    </header>

    <main>
      <div id="wrapper">
        {{ content | safe }}
      </div>
    </main>

    <footer>
      <p>
      © 2024–{{ page.date.getFullYear() }} Angela Byrne
      </p>
    </footer>
  </body>
</html>
