{% for product in products %}
  <article class="article" id="{{ product.slug }}">
    <a href="{{ product.url }}">
      <img src="{{ product.image }}" alt="Product image for {{ product.name }}" eleventy:widths="395">
      <h3>{{ product.name }}</h3>
    </a>
  </article>
{% endfor %}
