{% for product in products %}
  <article id="{{ product.slug }}">
    <h3><a href="{{ product.url }}">{{ product.name }}</a></h3>
    <img src="{{ product.image }}" alt="Product image for {{ product.name }}" eleventy:widths="260,445,800">
  </article>
{% endfor %}
