---
layout: layout
title: "Home"
---

<section>
  <h2>Welcome to my Pride crochet! </h2>

  <p>
  The current federal administration is doing its best to silence the queer community.
  As a mom of a queer child, and friends with countless queer adults and kiddos, I am determined to lead with love and joy during these times.
  Some of us can be loud and public.
  Some need private reminders that they are loved.
  Take a look at the products I offer as a gift and/or a treat for yourself.
  Consider it a proud mom hug.
  </p>

  <p>
  I am taking small commission orders by email only at this time, so I can give you a realistic timeline to receive your final product(s).
  For 1-2 items, this should be about a week or two.
  For larger orders, it may be a month or longer.
  </p>

  <p>
  Payment upon pick up or upon mailing the product(s).
  </p>

  <p>
  Every Pride product’s color pattern will vary, due to the variation of the skeins.
  Photos are representative of what your final product will look like.
  I do my best to make sure all colors of the selected Pride flag are included in your product, unless noted.
  </p>

  <p>
  All yarn is 100% non-pilling acrylic and stuffing is 100% polyester Poly-Fill.
  Each item is machine washable, cold water, gentle cycle, in a laundry bag.
  </p>

  <p>
  Any item can have a keychain added to it for an additional $2.
  </p>
</section>

<section>
  <h2>Products</h2>

  <section class="products products__grid">
    {% for product in products %}
      <article class="article" id="{{ product.slug }}">
        <a href="{{ product.url }}">
          <img src="{{ product.image }}" alt="Product image for {{ product.name }}" eleventy:widths="260">
          <h3>{{ product.name }}</h3>
        </a>
      </article>
    {% endfor %}
  </section>
</section>

<section>
  {% include "contact.njk" %}
</section>
