---
layout: layout
pagination:
  data: products
  size: 1
  alias: product
permalink: "{{product.url }}"
eleventyComputed:
  title: "{{product.name}}"
---

<article id="{{ product.slug }}">
  <h1>{{ product.name }}</h1>
  <img src="{{ product.image }}" alt="Product image for {{ product.name }}" eleventy:widths="800">
  <p>{{ product.description | safe }}</p>
  <p>{{ product.attribution | safe }}</p>
</article>

{% include "contact.njk" %}
